*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  width: 1024px;
  margin: 0  auto;
  font-family: 'Roboto';
  font-weight: 400;
}
/* Header */
.loft {
  display: flex;
  justify-content: space-between;
  padding: 20px 4px 15px;
}
.logo img {
  height: auto;
  width: 120px;
}
.cart-container {
  position: relative;
  
}
.cart img {
  width: 40px;
  height: auto;
  text-align: right;
  padding-top:  20px;
}

.number-in-cart {
  position: sticky;
  z-index: 10000000;
  bottom:  10px;
  right: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0e49b5;
  color: #fff;
  font: 14px/140% 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-number-hidden {
  display: none;
}


/* Swiper */
.swiper {
  height: 512px;
  margin-bottom: 32px;
}
.swiper-wrapper {
  min-width: 0;
}
.image {
  width: 100%;
  position: relative;
}
.text {
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
  object-fit: fill;
  position: absolute;
  top: 189px;
  left: 321px;

}
.text-airpods {
  color: black;
}
.text-ipad {
  position: absolute;
  bottom: 147px;
  left: 390px;
}
.text-AppleTV {
  top: 117px;
  left: 43px;
  color: black;

}

.btn {
  width: 150px;
  height: 50px;
  padding: 13px 25px;
  background: #0E49B5;
  border-radius: 5px;
  border-width: 0;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  object-fit: fill;
  position: absolute;
  bottom: 167px;
  left: 437px;
}

.btn:hover {
  background-color: #1c3a71;
}



.disable-btn:hover {
  background-color: #c5c4c4;
}
.card-availability {
  margin-bottom: 7px;
  color: #767272;
  width: 100px;
  text-align: center;
}
.card-availability::before {
  content: ' ';
  background: url('../img/icons/available.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px -5px 0;
}

.card-non-availability::before {
  content: ' ';
  background: url('../img/icons/none.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px -5px 0;
}

.btn-AppleTV {
  top: 223px;
  left: 114px;
}

/* Search */

.search-container {
  margin-bottom: 30px;
}

/* Form */

 .searchbox {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 18px;
  font-family: arial, sans-serif;
}

.searchbox__wrapper {
  width: 100%;
  height: 100%;
}

.searchbox__input {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  max-height: 60px;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 30px;
  padding-left: 37px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
  display: none;
}

.searchbox__input:hover {
  box-shadow: inset 0 0 0 1px silver;
}

.searchbox__input:focus, .searchbox__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #4098CE;
  background: #FFFFFF;
}

.searchbox__input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.searchbox__input::-moz-placeholder {
  color: #AAAAAA;
}

.searchbox__input:-ms-input-placeholder {
  color: #AAAAAA;
}

.searchbox__input::placeholder {
  color: #AAAAAA;
}

.searchbox__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 18px 0 0 18px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 37px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.searchbox__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.searchbox__submit:hover, .searchbox__submit:active {
  cursor: pointer;
}

.searchbox__submit:focus {
  outline: 0;
}

.searchbox__submit svg {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  fill: #666666;
}

.searchbox__input:valid ~ .searchbox__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

/* @-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
} */

.aa-dropdown-menu {
	position: relative;
	top: -6px;
	border-radius: 3px;
	margin: 6px 0 0;
	padding: 0;
	text-align: left;
	height: auto;
	position: relative;
	background: transparent;
	border: none;
	width: 100%;
	left: 0 !important;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.1);
}

.aa-dropdown-menu:before {
	position: absolute;
	content: '';
	width: 14px;
	height: 14px;
	background: #fff;
	z-index: 0;
	top: -7px;
	border-top: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	transform: rotate(-45deg);
	border-radius: 2px;
	z-index: 999;
	display: block;
	left: 24px;
}

.aa-dropdown-menu .aa-suggestions {
	position: relative;
	z-index: 1000;
}

.aa-dropdown-menu [class^="aa-dataset-"] {
	position: relative;
	border: solid 1px #D9D9D9;
	border-radius: 3px;
	overflow: auto;
	padding: 8px 8px 8px;
}

.aa-dropdown-menu * {
	box-sizing: border-box;
}


.aa-suggestion {
  font-size: 1.1em;
  padding: 4px 4px 0;
  display: block;
  width: 100%;
  height: 38px;
  clear: both;
     /* span {
    white-space: nowrap!important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    float: left;
    line-height: 2em;
    width: calc(100% - 30px);
  } 
  &.aa-cursor {
    background: #eee;
  } */ 
  /* em {
    color: #4098CE;
  }
  img {
    float: left;
    vertical-align: middle;
    height: 30px;
    width: 20px;
    margin-right: 6px;
  } */
}

/* Filter */
.sort-filter {
  position: absolute;
  right: 150px;
  top: 7px; 
  width: 150px;
  height: 48px;
  
}
.filter-btn {
  position: absolute;
  right: 70px;
  top: 7px; 
  background-color: transparent;
  border-width: 0;
  border-radius: 20%;
}
.filter-btn:hover {
  background: #FFFFFF;
  border: 2px solid 0E49B5;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Settings */
.settings-btn {
  position: absolute;
  right: 5px;
  top: 8px;
  background-color: transparent;
  border-width: 0;
}
.settings-btn:hover {
  background: #FFFFFF;
  border: 2px solid 0E49B5;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.zero {
  display: none;
  margin-bottom: 30px;
}

/* Main Content */
.main-content {
  position: relative;
}

/* Accordion */

.accordion-container {
  width: 326px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  margin-right: 8px;
  display: inline-block;
}

  /* /  */ /* /  */ /* /  */ /* /  */

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #EDF3FF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 52px;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  border-width: 0.5px;
  border-color: #DDDDDD;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #FFFFFF;
}

.active img {
  transform: rotate(90deg);
}

.accordion:hover {
  background-color: #dce2ee;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel-accordion {
  padding: 15px 40px 15px 30px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid #dce2ee;
  font: 16px/140% 'Roboto';
}

.panel-accordion label {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.panel-accordion label input {
  width: 30px;
}

.panel-price-accordion {
  padding: 30px 30px 20px 30px;
  border: 1px solid #dce2ee;
  display: none;
}

.panel-price-accordion label {
  display: flex;
  justify-content: space-between;
}

.input-min-price,
.input-max-price {
  margin-bottom: 15px;
  padding: 8px 0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font: 18px/140% 'Roboto';
}

.input-max-price:focus {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 7px 1px #e2e2e2;
  outline: none;
}

.input-min-price:focus {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 7px 1px #e2e2e2;
  outline: none;
}

 /* /  */ /* /  */ /* /  */ /* /  */

/* Cards */
.cards-container  {
  width: 640px;
  position: absolute;
  right: 0;
  top: 0;
}
.cards-items {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  height: 480px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 0  50px 20px;
}

.card-info {
  width: 100%;
  height: 394px;
  padding: 14px 42px;
  position: relative;
}
.img-card {
  margin: 0 auto 26px;
  width: auto;
  height: 200px;
  width: auto;
  padding: 5%;
  margin-bottom: 5px;
}
.item-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 0 auto 3px;
}
.stock {
  text-align: center;
  margin: 0 auto 4px;
  width: 160px;
}

.check {
  width: 24px;
  height: 24px;
  margin: 0;
  display: inline-block;

}
.in-stock {
  max-width: fit-content;
  font-size: 14px;
  line-height: 16px;
  color: #767272;
  margin: 0;
}
.number-in-stock {
  margin-right: 5px;
  
}
.price  {
  height: fit-content;
  width: fit-content;
  font-size: 14px;
  line-height: 16px;
  color:#767272;
  text-align: center;
  margin: 0 auto 8px;
}
.price-number {
  font-weight: 700;
}
.btn-card {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  padding: 13px 25px;
  background: #0E49B5;
  border-radius: 5px;
  border-width: 0;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.disable-btn {
  background-color: #c5c4c4;
  cursor: auto;
}
.like-btn {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  padding: 6px 0 5px 0;
  background: #FFFFFF;
  border-radius: 7px;
  border-width: 0;
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  left: 220px;
}
.like  {
  position: sticky;
  bottom: 20px;
  width: 30px;
  height: 30px;
  margin: 3px 0 0 3px;
}
.like-btn:hover {
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.like.active{
  background-color: rgb(252, 156, 156);
  border-radius: 20px;
}

.card-footer {
  width: 100%;
  height: 86px;
  background: #E0E0E0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 20px ;
  display: flex;
  flex-wrap: nowrap;
}

.like-permanent {
  width: 20px;
  height: 20px;
  margin: 0 11px 0 0 ;
}

.reviews {
  font-size: 14px;
  text-align: left;
  width: 130px;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.number-rewiews {
  font-weight: 700;
  margin-right: 5px;
  display: inline;
}
.text-rewiew {
  display: inline;
  width: 140px;
  margin-bottom: 6px;
}
.reviews-above {
  width: 92px;
}
.orders {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.orders-text {
  font-size: 14px;
  text-align: right;
  display: inline;
}
.number-of-orders {
  font-weight: 700;
  display: inline;
  margin: 0 0 6px 60px;
}
/* Modal */

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100vh;
  
}

.modal_active {
  display: flex;
}

.innerModal {
  width: 1020px;
  height: 490px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
 
  font-family: 'Roboto';
  font-weight: 400;
}
.column-one {
  width: 280px;
  height: 490px;
}
.img-modal {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: 120px 15px ;

}
.column-two {
  width: 460px;
  height: 490px;
  position: relative;
}
.name-modal {
  margin: 35px auto 150px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: black;
}
.footer-modal {
  position: absolute;
  top: 84px;
  right: 80px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
}
.info-modal {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 300px;
  height: 180px;
  margin: 0 0 30px 80px;
  display: inline-block;
  
}
.info {
  font-size: 14px;
  line-height: 16px;
  color: #767272;
  margin-bottom: 8px;
}
.description,
.unit {
  color: #000000;
}

.column-three {
  width: 280px;
  height: 490px;
  
}

.price-modal  {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  margin: 176px auto 20px;
}

.in-stock-modal {
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 30px;
}
.number-in-stock-modal,
.number-rewiews-modal,
.number-of-orders-modal {
  font-weight: 700;
}

.btn-modal {
  position: sticky;
  bottom: 148px; 
}

  /*In Cart */
.cart-container {
  width: 434px;
  padding-top: 24px;
  font: 14px/140% 'Roboto', sans-serif;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: 70px;
  right: 300px;
  z-index: 7;
  background: #ffffff;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
}
.in-cart-items {
    width: 434px;
    padding-top: 24px;
    font: 14px/140% 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 300px;
    z-index: 10000000000000;
    background: #ffffff;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
}
  
  .cart-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  
  .cart-second-title {
    font-size: 16px;
    color: #767272;
    margin-bottom: 40px;
  }
  
  .cart-items-in-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
  }
  .cart-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border-bottom: 1px solid #c4c4c4;
    padding: 0 0 0 10px;
  }
  
  .cart-right-side {
    align-self: center;
    /* width: fit-content; */
  }
  
  .img-cart-item {
    width: 100px;
    height: auto;
    padding: 15px;
  }
  
  .cart-item-name {
    font-size: 12px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 10px;
  }
  
  .cart-item-price {
    text-align: left;
    background-color: #eaf6ff;
    color: #4191ff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 4px;
    width: 50px;
  }
  
  .cart-item-amount {
    display: flex;
    justify-content: space-around;
    margin-left:  30px;
  }
  
  .cart-item-delete {
    margin: 0 30px;
  }
  
  .cart-item-quantity {
    font-size: 20px;
    font-weight: 700;
    color: #4191ff;
    margin: 0px 12px;
  }
  .cart-total-block {
    display: flex;
    justify-content: space-between;
    padding: 18px 41px;
    background-color: #eaf6ff;
    margin-bottom: 20px;
    border-top: 1px solid #c4c4c4;
  }
  
  .cart-total-block p {
    color: #767272;
  }
  
  .cart-total-block span {
    font-weight: 700;
    color: #000;
  }
  
  .btn-cart {
    background-color: #3c44b1;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    border: none;
    padding: 11px 106px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .cart-hidden {
    display: none;
  }
  